<!DOCTYPE html>
<html>
  <head>
    <script src="/javascripts/vendor/jquery.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/stylesheets/css.css" type="text/css" />

    <title>RubberDucker</title>
  </head>
  <h1>RubberDucker</h1>

 <body background="/images/rubberduck.gif">


    <h3 id="message_startduck" >Quacktacular Advice </h3>

  <div id="placeholder"> </div>
  <div id="console">

  <form onsubmit="return false;">
    <center>
      <input type="text" id="command_line" size="50" autofocus="autofocus" />
    </center>
  </form>


  <script src="/javascripts/rubberduck.js" type="text/javascript"></script>
  <div id="responses">

    <p id="ruby">Ruby can be difficult. Check out the <a href="http://ruby-doc.org/">ruby docs</a>.</p>
    <p id="regex">Really. Perhaps the website Rubular would assist you better.</p>
    <p id="rails">Hmmm. I seem to remember something about that in <a href="http://guides.rubyonrails.org/">Rails Guides</a>.</p>
    <p id="jquery">You can always learn more about that in <a href="https://learn.jquery.com/">JQuery's site</a>.</p>


  </div>

  <ul id="random">
    <li>Wow, that sounds like a difficult situation...tell me more.</li>

    <li>Hmmm, did you consult the <a href="http://www.google.com"> oracle? </a> </li>
    <br>
    <li>Really? Perhaps if you examine syntax code again...</li>
    <br>
    <li>Definately a frustrating problem. Have you tried <a href="https://github.com/pry/pry"> pry? </a></li>
    <br>
    <li>Tell me more.</li>
    <br>
    <li>I'm listening.</li>
    <br>
    <li>It's not your fault...It's not your fault...</li>
    <li>What else?</li>
    <br>
    <li>Go on. I hear you.</li>
    <br>
    <li>Ohhh. Hmmm. What do you think is happening?</li>
    <br>
    <li>Have you checked out the <a href="http://stackoverflow.com">stax</a>? </li>
    <br>
    <li>Don't worry; everyone has difficult problems. </li>
    <br>
    <li>Sometimes it helps to come back to a problem after a break.</li>
    <li>Maybe you should take a break and come back to it :) </li>

</ul>
  </body>
</html>
